<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.chartMapper">

	
<!--  <select id="getChart">
	SELECT
	  TIME,
	  IFNULL(PING, 0) AS PING
	FROM
		tb_urlping_id10_2403
		<if test="startDate!=null and endDate!=null">
		WHERE DATE_FORMAT(TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
		</if>
		ORDER BY TIME 
	</select> -->
	
	
	
	
 	<select id="getChart">
 	    <![CDATA[
		WITH RECURSIVE DateSequence AS (
		  SELECT #{startDate} AS date
		  UNION ALL
		  SELECT DATE_ADD(date, INTERVAL 1 DAY)
		  FROM DateSequence
		  WHERE DATE_ADD(date, INTERVAL 1 DAY) <= #{endDate}
		)
		SELECT IFNULL(TIME,DATE) AS TIME ,IFNULL(ping,0) AS PING
		FROM DateSequence
		LEFT JOIN
		(SELECT
			  TIME AS TIME,
			  DATE_FORMAT(TIME,'%Y-%m-%d') AS FORMATTED_DATE,
			  IFNULL(PING, 0) AS PING
			FROM
				tb_urlping_id10_2403
				WHERE DATE_FORMAT(TIME,'%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
				) B
		  ON B.FORMATTED_DATE = DateSequence.date
		  ORDER BY TIME, DATE
		   ]]>
	</select>   	
	
	
	
	
	
	
	
	
	    

  <select id="getSumChart">
   SELECT SUBSTR(TIME,6) AS TIME, 
   		PING 
   		FROM (
		SELECT 
		DATE_FORMAT(TIME, '%Y-%m-%d') AS TIME, 
		SUM(PING) AS PING
		FROM tb_urlping_id10_2403
		WHERE SUBSTR(DATE_FORMAT(time, '%Y%m%d') ,5,2) = '03'
		GROUP BY DATE_FORMAT(time, '%Y-%m-%d')
		) AS A
	</select> 
	

	
</mapper>