<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.chartMapper">


	
 	<select id="getChart" parameterType="map">
 	    <![CDATA[
		WITH RECURSIVE DateSequence AS (
		  SELECT #{startDate} AS date
		  UNION ALL
		  SELECT DATE_ADD(date, INTERVAL 1 DAY)
		  FROM DateSequence
		  WHERE DATE_ADD(date, INTERVAL 1 DAY) <= #{endDate}
		)
		SELECT IFNULL(TIME,DATE) AS TIME ,IFNULL(ping,0) AS PING
		FROM DateSequence
		LEFT JOIN
		(SELECT
			  TIME AS TIME,
			  DATE_FORMAT(TIME,'%Y-%m-%d') AS FORMATTED_DATE,
			  IFNULL(PING, 0) AS PING
			FROM
				 tb_urlping_id10_2403
				) B
		  ON B.FORMATTED_DATE = A.DateSequence.date
		  ORDER BY TIME, DATE
		   ]]>
	</select>   	
	
	
  	 <select id="unionPingData" parameterType="map">	
	 
			        WITH RECURSIVE DateSequence AS (
			            SELECT #{startDate} AS date
			            UNION ALL
			            SELECT DATE_ADD(date, INTERVAL 1 DAY)
			            FROM DateSequence
			            WHERE DATE_ADD(date, INTERVAL 1 DAY) &lt; #{endDate}
			        )		  
			        SELECT 
			        '${tableName}' AS tableName,
			            IFNULL(TIME, DATE) AS TIME, 
			            IFNULL(ping, 0) AS PING
			        FROM DateSequence
			        LEFT JOIN ${tableName}
			        ON DATE_FORMAT(TIME, '%Y-%m-%d') = DATE_FORMAT(DateSequence.date, '%Y-%m-%d')
			        ORDER BY TIME

			        	
	</select>   
	 
	<select  id="selectChartTable">
			SELECT table_name 
				FROM information_schema.tables 
				where table_name  like 'tb_urlping_id24_24%'
	</select>
	
<!-- 						<select id="unionPingData">
								WITH RECURSIVE DateSequence AS (
							    SELECT #{startDate} AS date
							    UNION ALL
							    SELECT DATE_ADD(date, INTERVAL 1 DAY)
							    FROM DateSequence
							    WHERE DATE_ADD(date, INTERVAL 1 DAY) &lt; #{endDate}
							)   
							SELECT 
							    '${tableName}' AS tableName,
							    IFNULL(TIME, DATE) AS TIME, 
							    IFNULL(ping, 0) AS PING
							FROM DateSequence
							LEFT JOIN ${tableName}
							ON DATE_FORMAT(TIME, '%Y-%m-%d') = DATE_FORMAT(DateSequence.date, '%Y-%m-%d')
							UNION ALL
							<foreach collection="tableNameList" item="tableName" index="index" separator="UNION ALL">
							    SELECT 
							        '${tableName}' AS tableName,
							        IFNULL(TIME, DATE) AS TIME, 
							        IFNULL(ping, 0) AS PING
							    FROM DateSequence
							    LEFT JOIN ${tableName}
							    ON DATE_FORMAT(TIME, '%Y-%m-%d') = DATE_FORMAT(DateSequence.date, '%Y-%m-%d')
							</foreach>
							
							ORDER BY TIME;
								
						</select> -->
	
	



	  <select id="getSumChart">
	   SELECT SUBSTR(TIME,6) AS TIME, 
	   		PING 
	   		FROM (
			SELECT 
			DATE_FORMAT(TIME, '%Y-%m-%d') AS TIME, 
			SUM(PING) AS PING
			FROM tb_urlping_id10_2403
			WHERE SUBSTR(DATE_FORMAT(time, '%Y%m%d') ,5,2) = '03'
			GROUP BY DATE_FORMAT(time, '%Y-%m-%d')
			) AS A
		</select> 
	

	
</mapper>