<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.chartMapper">

	
 <select id="getChart">
	SELECT
	  TIME,
	  IFNULL(PING, 0) AS PING
	FROM
		tb_urlping_id10_2403
		  WHERE SUBSTR(DATE_FORMAT(time, '%Y%m%d') ,5,2) = '02'
		-- where  DATE_FORMAT(time, '%Y-%m-%d') between '2024-02-01' and '2024-02-01'
		ORDER BY TIME 
	</select>    

  <select id="getSumChart">
   SELECT SUBSTR(TIME,6) AS TIME, 
   		PING 
   		FROM (
		SELECT 
		DATE_FORMAT(TIME, '%Y-%m-%d') AS TIME, 
		SUM(PING) AS PING
		FROM tb_urlping_id10_2403
		WHERE SUBSTR(DATE_FORMAT(time, '%Y%m%d') ,5,2) = '03'
		GROUP BY DATE_FORMAT(time, '%Y-%m-%d')
		) AS A
	</select> 
	

	
</mapper>